<!doctype html>
<html>
<head>
<!-- Internal game scripts/styles, mostly boring stuff -->
<link rel="stylesheet" href="/static/game-frame-styles.css" />

<!-- Load jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" nonce="{{n1}}"></script>
<script src="/static/jquery.min.js"></script>

</head>
<body id="level3">
<div id="header">
<img id="logo" src="/static/logos/level3.png">
<span>Take a tour of our cloud data center.</span>
</div>

<div class="tab" id="tab1">Image 1</div>
<div class="tab" id="tab2">Image 2</div>
<div class="tab" id="tab3">Image 3</div>

<div id="tabContent"></div>

<script nonce="{{n2}}">
    function chooseTab(num) {
        // Dynamically load the appropriate image.
        var html = "Image " + parseInt(num) + "<br>";
        html += "<img src='/static/level3/cloud" + num + ".jpg' />";
        $('#tabContent').html(html);

        window.location.hash = num;
        // Select the current tab
        var tabs = document.querySelectorAll('.tab');
        for (var i = 0; i < tabs.length; i++) {
            if (tabs[i].id == "tab" + parseInt(num)) {
                tabs[i].className = "tab active";
            } else {
                tabs[i].className = "tab";
            }
        }
        // Tell parent we've changed the tab
        top.postMessage(self.location.toString(), "*");
    }

    window.onload = function() {
        chooseTab(unescape(self.location.hash.substr(1)) || "1");
    }

    // Extra code so that we can communicate with the parent page
    window.addEventListener("message", function(event){
        if (event.source == parent) {
            num = unescape(parseInt(self.location.hash.substr(1)))
            if ((num == 1) || (num == 2) || (num == 3)) {chooseTab(num)}
            else {chooseTab(1)}
        }
    }, false);

    document.getElementById("tab1").addEventListener('click', function(){chooseTab(1)}, false);
    document.getElementById("tab2").addEventListener("click", function(){chooseTab(2)}, false);
    document.getElementById("tab3").addEventListener("click", function(){chooseTab(3)});
</script>
</body>
</html>
