<!doctype html>
<html>
<head>
<!-- Internal game scripts/styles, mostly boring stuff -->
<link rel="stylesheet" href="/static/game-frame-styles.css" />

<!-- Load jQuery -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script src="/static/jquery.min.js"></script>

</head>
<body id="level3">
<div id="header">
<img id="logo" src="/static/logos/level3.png">
<span>Take a tour of our cloud data center.</span>
</div>

<div class="tab" id="tab1">Image 1</div>
<div class="tab" id="tab2">Image 2</div>
<div class="tab" id="tab3">Image 3</div>

<div id="tabContent"></div>
<script src="/static/controller.js"></script>
</body>
</html>
